<div class="top-bar">
  <a>
    <h1 class="button">Home</h1>
  </a>

  <a id="logout-button-holder">
    <h2 id="logout-button" class="button" (click)="openModal()">Contact Us</h2>
  </a>

  <a>
    <h2 class="button">Technical library</h2>
  </a>

  <a>
    <h2 class="button">DXF library</h2>
  </a>

  <a>
    <h2 class="button">Hazard map</h2>
  </a>

  <a><i title="Parameters" class="material-icons button">settings_applications</i></a>
  <a><i title="Help" class="material-icons button">help_outline</i></a>

  <a>
    <h2 class="button">About...</h2>
  </a>

  <a>
    <h1 class="button">My Website</h1>
  </a>
</div>
